$status-size: 1.5rem;
.controls {
  width: 20%;
}
.cards {
  margin: 2% 0;
  max-height: 45vh;
  overflow-y: scroll;

  .card {
    border: 1px solid #464a55;
    background: none;
    border-radius: 0.5rem;
    padding: 3%;
    text-align: center;
    display: grid;
    grid-template-columns: 5% 25% 25% 25% 10%;
    grid-gap: 0.2rem;
    width: 80%;
    margin: 1% 0;

    div {
      .value {
        display: block;
        font-weight: 400;
      }
      .label {
        display: block;
        color: #808cac;
      }
    }

    .status {
      display: block;
      width: $status-size;
      height: $status-size;
      border-radius: $status-size;
      background: #2ecc71;
    }
    .invalid {
      background: #e74c3c;
    }
  }
  .card-invalid {
    grid-template-columns: 5% 25% 50% 10%;
    .count {
      color: #e74c3c;
    }
    .more {
      background: #2ecc71;
      color: #fff;
      border: none;
      padding: 1%;
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        background: #169c4e;
      }
    }
  }
}
.nodata {
  color: #e74c3c;
}
