.container {
  display: grid;
  grid-template-columns: 35% auto;
  

  .actions {
    border-right: 2px solid #f5f5f5;
    padding: 1%;
 
  }
  .results {
    padding: 1% 3%;

  }
}
.header{
  margin: 3rem 0;
  h1{
    span{
      display: block;
    }
    
  }
}
