<div class="container">
  <div class="actions">
    <div class="header">
      <h1>
        <span>
            Validate 
        </span>
        <span>
            SA Id Numbers
        </span>
      </h1>
    </div>
    <app-validate-id-form></app-validate-id-form>
  </div>
  <div class="results">
      <div class="header">
          <h1>
            <span>
                Validation 
            </span>
            <span>
               Results
            </span>
          </h1>
        </div>
    <app-validate-results></app-validate-results>
  </div>
</div>


<div class="overlay" *ngIf="modalError.show">
    <div class="reasons modal">
      <div class="header">
        <a (click)="closeModal()"><i class="far fa-times-circle"></i></a>
      </div>
      <ul>
        <li *ngFor="let data of modalError.errors">
          {{data}}
        </li>
      </ul>
    </div>
  </div>

